@import "../../styles/colors";

.header {
    position: static;
    background-color: $darkerColor !important;
}

.header-link {
    font-size: 1.5em;
    font-weight: bold;
    color: $lighterColor !important;
}
