@import '../../styles/colors';

.model-tabs {
  width: 100%;

  .react-tabs__tab {
    bottom: auto;

    &:focus {
      box-shadow: none;
    }

    &-list {
      padding: 0;
      border: none;
      margin: 0 32px 24px;
      display: flex;
    }

    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    outline: none;
    width: 50%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid $darkerColor;
    border-radius: 0;
    background-color: $darkColor;
    font-size: 1.6rem;

    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-of-type {
      border-left: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &--selected {
      background-color: white;

      &::after {
        content: none;
        border: none;
        margin: 0;
        bottom: 0;
      }
    }
  }
}
