@import "../../styles/colors";

table {
    width: 800px;
    height: 500px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-size: large;
}
thead {
    background-color: $darkColor;
    color: $lightColor;
    height: 2em;
}
td {
    padding: 5px;
    background-color: $lightColor;
    color: $darkerColor;
}
th {
    text-align: left;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}
