@import './styles/colors';
@import './styles/fonts';

.App {
  text-align: center;
  font-family: $mainFont;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  background-color: $midColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $darkerColor;
}

a {
  color: $darkerColor;
  text-decoration: none;
}

body {
  margin: 0px;
}
